[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
pandas = "*"
requests = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
jupyter = "*"

[requires]
python_version = "3.8"
